* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  background-color: rgba(217, 211, 204, 0.8);
  height: 100%;
  width: 100%;
}
body {
  font-family: "Gentium Book Plus", serif;
  font-style: italic;
}

/* NAVBAR */ /* */
nav {
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
}

/*SVG navbar y boton hamburgesa media query*/
.container-navbar {
  float: right;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.label-svg-gamepad {
  color: white;
  cursor: pointer;
  display: none;
}
#checkbutton-input {
  display: none;
}

/*Titulo Header*/
.h1TitleDiv {
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
}
.h1TitleDiv h1 {
  font: italic bold 35px;
  font-weight: 700;
  text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716,
    2px -15px 20px #451b0e;
  color: rgb(0, 0, 0);
}

/*Links de la Navbar*/
.ul-links-a-nav {
  display: flex;
}
ul li a {
  margin: 0px 15px;
  color: white;
  font-size: 20px;
}
.links-li-nav:hover {
  background: white;
  color: rgb(58, 58, 58);
  border-radius: 9px;
  transition: 0.5s;
}

/*Imagen*/
.darkSouls3-div-img-article {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}
.darkSouls3-img-inside-div-section {
  width: 100%;
  height: auto;
}

/*Media querys tablet*/
@media (max-width: 952) {
}
