* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
    text-decoration: none;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Gentium Book Plus", serif;
  font-style: italic;
}
nav {
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
}

.gamepad-div-svg-input input {
  display: none;
}
.h1TitleDiv {
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
}
.h1TitleDiv h1 {
  font: italic bold 35px;
  font-weight: 700;
  text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716,
    2px -15px 20px #451b0e;
  color: rgb(0, 0, 0);
}
.ul-links-a-nav {
  display: flex;
}
ul li a {
  margin: 0px 15px;
  color: white;
}

.darkSouls3-div-img-article {
  display: flex;
  justify-content: center;
}
.darkSouls3-img-inside-div-section {
  height: 500px;
}
