* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  background-color: rgba(217, 211, 204, 0.8);
  height: 100%;
  width: 100%;
}
body {
  font-family: "Gentium Book Plus", serif;
  font-style: italic;
}

/*Logo Dark Souls y barra de busqueda*/
.container-div-logo-search {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(58, 58, 58);
}
/*Logo SVG Header*/

.dark_souls_image_SVG_header {
  height: 60px;
}
/*Barra busqueda*/
.barSearch {
  display: flex;
  align-items: center;
}
.label-search-input {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: white;
}
#searchInput {
  border-radius: 6px;
  border-color: black;
  height: 35px;
  font-size: 15px;
}

/* NAVBAR */
nav {
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
}
/*SVG navbar y boton hamburgesa media query*/
.container-navbar-mediaQuery {
  float: right;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.label-svg-gamepad {
  color: white;
  cursor: pointer;
  display: none;
}
#checkbutton-input {
  display: none;
}

/*Links de la Navbar*/
.ul-links-a-nav {
  display: flex;
}
ul li a {
  margin: 0px 15px;
  color: white;
  font-size: 20px;
}
.links-li-nav:hover {
  background: white;
  color: rgb(58, 58, 58);
  border-radius: 9px;
  transition: 0.5s;
}

/*Imagen*/
.darkSouls3-div-img-article {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}
.darkSouls3-img-inside-div-section {
  width: 100%;
  height: auto;
}

/*Media querys tablet*/
@media (max-width: 952px) {
  .logoSVG-darkSouls-div {
    padding-left: 15px;
  }
  .dark_souls_image_SVG_header {
    height: 45px;
  }
  .barSearch {
    padding-right: 15px;
  }
  ul li a {
    margin: 0px 14px;
    color: white;
    font-size: 19px;
  }
  #searchInput {
    height: 30px;
    font-size: 13px;
  }
  .label-search-input {
    font-size: 20px;
  }
}
/*Media querys celular*/
@media (max-width: 768px) {
  .logoSVG-darkSouls-div {
    padding-right: 5px;
  }
  .dark_souls_image_SVG_header {
    height: 35px;
  }
  .barSearch {
    padding-right: 5px;
  }
  #searchInput {
    height: 20px;
    font-size: 9px;
  }
  .label-search-input {
    font-size: 15px;
  }

  .label-svg-gamepad {
    display: block;
    font-size: 16px;
  }
  .ul-links-a-nav {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    background: red;
    top: 51px;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    margin: 30px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 25px;
  }
  #checkbutton-input:checked ~ .ul-links-a-nav {
    left: 0%;
  }
}
